/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 * 带有.module.css后缀的CSS文件
 * 将被视为CSS模块和局部作用域。
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
